#name{
    
}
#About{
    Margin:left;
    padding: 20px;
    color: #777777;
    background:#4aaaa5
   
}

#photo{
    float: left;
}

#paragraph{
    
}
#photo{
    
}
#link{
    
#contact{
    
}
#footer{
    #666666

}