body{
    background-image: url("/assets/images/background1.jpg");
};
.page-footer{
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
    flex: 1 0 auto !important;
  }

  main {
    flex: 1 0 auto !important;
  }
  img {
    width: 320px !important;
    height: 250px !important;
}