#name{
    
}
#About{
    Margin:left;
    padding: 20px;
    color: rgb(96, 144, 214);
    background: bisque;
   
}

#photo{
    float: left;
}

#paragraph{
    
}
#photo{
    
}
#link{
    
#contact{
    
}