body{
    background-image: url("./assets/images/background.png");
    color: #666666;
}

#name{
    font-family: Georgia;
    size:5px;
    border-style: hidden;
   max-width: 960px;
   margin: auto;
   margin-bottom: 10px;
   float: left;
    background:#4aaaa5;
    color:#777777;
}
#header-links{
    font-family: Georgia;
    border-style: hidden;
    max-width: 960px;
    margin: auto;
    float: right;
    background: #ffffff;
    color: #777777;
}
.main{
    width: 960px;
    border: 2px solid #77777;
    padding: 25px;
    margin: 25px;
}
#about-me{
    padding:20px;
    font-family:georgia;

}
#About{
    border-bottom: 1px solid #777777;
    padding: 20px;
    clear: both;
    margin: 10px;
}
#photo{
    float: left;
}

#paragraph{
    font-family: Helvetica;
}
#footer{
    font-family: Helvetica;
    border-top-color:#4aaaa5;
    Padding:10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
   

}